version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: ecom_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecomdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ecom-network

volumes:
  postgres_data:

networks:
  ecom-network:


